@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
  --bg-color-dark: #333333;
  --text-color-dark: #ffffff;
}

[data-theme='light'] {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
}

[data-theme='dark'] {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
}
